.flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;

    &.showBack {
        transform: rotateY(180deg);
    }

    .crstyle {
        backface-visibility: hidden;
        
        &.front {
        transform: rotateY(0);
        position: absolute;
        }

        &.back {
        transform: rotateY(180deg);
        }
    }
}